In [1]:
type(*)

SyntaxError: invalid syntax (<ipython-input-1-2cba725e6beb>, line 1)

In [2]:
5/5

1.0

In [3]:
5//5

1

In [4]:
5**5

3125

In [6]:
10//1

10

In [7]:
5!=5

False

In [8]:
12/5

2.4

In [9]:
12//5

2

In [10]:
'a'+'b'

'ab'

In [11]:
'a'=='b'

False

In [12]:
'a'>'b'

False

In [13]:
'a'<'b'

True

In [14]:
'ab'>='a'

True

In [15]:
'abc'>'a'

True

In [16]:
'abc'<='a'

False

In [17]:
'ab'<'a'

False

In [18]:
'ab'<'ad'

True

In [19]:
'adb'>'ac'

True

In [20]:
'abc'>'abd'

False

In [21]:
'abc'>'abb'

True

In [22]:
'a'='A'

SyntaxError: can't assign to literal (<ipython-input-22-0c0ecec5c5da>, line 1)

In [23]:

'a'=='A'

False

In [24]:
'a'<'A'

False

In [25]:
'a'>'A'

True

In [26]:
3**2+5

14

In [27]:
5+(6>3)*2

7

In [28]:
4*(5+2-1)+(6==1)

24

In [29]:
6//4

1

In [30]:
'3'+'2'

'32'

In [31]:
'3'+2

TypeError: can only concatenate str (not "int") to str

In [32]:
'A'<'B'

True

In [33]:
'1'=='A'

False

In [34]:
'1'<'A'

True

In [35]:
x=3-1
x=x+1
2**x

8

In [38]:
x+=1
x

6

In [39]:
a = input('Please enter your name: ')
print('Hello', a)

Please enter your name: Carrie
Hello Carrie

In [40]:
a = str(3)
a

'3'

In [41]:
fcv=int(input("Input the final cash value:"))
air=float(input("Input the annual interest rate in percent:"))
years=int(input("Inpute the number of years:"))
value=fcv/(1+air/100)**years
print("The present value is ", value)

Input the final cash value:1000000
Input the annual interest rate in percent:4.5
Inpute the number of years:10
The present value is  643927.682030043

In [82]:
inv=int(input("Current inventory:"))
if(inv>=100):
    print("No need to order")
else:
    print("Order", 100-inv, 'unit')
    print("Order %s unit" % (100-inv))

Current inventory:22
Order 78 unit
Order 78 unit

In [49]:
hrs = float(input("Hours worked this week:"))
if (hrs <= 40):
    pay = hrs * 10
else:
    pay = 400 + (hrs-40)*10*(1+0.5)

print("Total pay this week is", pay)

Hours worked this week:42.5
Total pay this week is 437.5

In [73]:
#Case 4
sys = int(input("Systolic blood pressure:"))
dia = int(input("Diastolic blood pressure:"))
if sys <= 90 and dia <= 60:
    status = 'LOW'
elif sys <= 120 and dia <= 80:
    status = 'IDEAL'
elif sys <= 140 and dia <= 90:
    status = 'PRE-HIGH'
elif sys <= 190 and dia <= 100:
    status = 'HIGH'
else:
    status = "out of range"

print("Your blood pressure is ", status)

Systolic blood pressure:130
Diastolic blood pressure:90
Your blood pressure is  PRE-HIGH

In [72]:
## Case 5
fast = int(input("How many hours have you fasted:"))
bloodsugar = int(input("What is your blood sugar level:"))
if fast < 2:
    print("You need to fast at least 2 hours to perform this test")
elif fast < 8:
    if bloodsugar > 140:
        print("Your blood sugar level is high")
    else:
        print("Your blood sugar level is normal")
else:
    if bloodsugar > 100:
        print("Your blood sugar level is high")
    else:
        print("Your blood sugar level is normal")

How many hours have you fasted:10
What is your blood sugar level:119
Your blood sugar level is high