In [1]:
#Q1-a
m = [5,4,3,8,2,[4,2]]
len(m)

6

In [2]:
type(m[-1])

list

In [3]:
type(m[5])

list

In [4]:
l = [10,20,10,int]

In [5]:
l[3]

int

In [6]:
type(l[3])

type

In [7]:
l+[50,60]

[10, 20, 10, int, 50, 60]

In [8]:
l.append([50,60])

In [9]:
l

[10, 20, 10, int, [50, 60]]

In [10]:
l.append(50)

In [11]:
l.append(60)

In [12]:
l

[10, 20, 10, int, [50, 60], 50, 60]

In [20]:
#Q1-b
m[1:4]

[4, 3, 8]

In [21]:
#Q1-c
del m[-3:]

In [22]:
m

[5, 4, 3]

In [23]:
#Q1-d
m.append(2)
m.append(1)

In [24]:
m

[5, 4, 3, 2, 1]

In [25]:
m = m + [2,1]

In [26]:
m

[5, 4, 3, 2, 1, 2, 1]

In [27]:
m = m+[[2,1]]

In [28]:
m

[5, 4, 3, 2, 1, 2, 1, [2, 1]]

In [29]:
#Q1-e
m[1] = 'Four'

In [30]:
m

[5, 'Four', 3, 2, 1, 2, 1, [2, 1]]

In [31]:
##########
#1.3 String Parsing using lists

In [32]:
s = 'Python for Business Analytics!!??\n'
s.strip()

'Python for Business Analytics!!??'

In [33]:
s

'Python for Business Analytics!!??\n'

In [34]:
s.strip().strip('?!')

'Python for Business Analytics'

In [35]:
s.split(' ')

['Python', 'for', 'Business', 'Analytics!!??\n']

In [37]:
#Q2
ss = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008\n'
dayOfWeek = ss.split(' ')[2]
month = ss.split(' ')[3]
day = int(ss.split(' ')[4])
year = int(ss.split(' ')[6])

In [41]:
print(dayOfWeek, month, day, year)

Sat Jan 5 2008

In [43]:
domainname = ss.split('@')[1].split(' ')[0]
domainname

'uct.ac.za'

In [44]:
##########
#1.3 For loops  and lists
l = [0,2,4,6,8]
for item in l:
    print(item, end=' ')

0 2 4 6 8

In [45]:
l = []
for i in range(5):
    l.append(i*2)
l

[0, 2, 4, 6, 8]

In [46]:
#Q3: 
q3 = []
for i in range(10):
    q3.append(i**2)
q3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
#Q4
list1 = [1,2,3,2,1,'Hi',1,'Hi']
list2 = []
for item in list1:
    if item in list2:
        continue
    else:
        list2.append(item)
    # if item not in list2:
    #    list2.applend(item)
        
        
list2

[1, 2, 3, 'Hi']

### Dictionary

In [50]:
set(list1)

{1, 2, 3, 'Hi'}

In [52]:
set({1,2,3,1})

{1, 2, 3}

In [53]:
d = {'apple':1, 'orange':2, 'grape':3}
d

{'apple': 1, 'orange': 2, 'grape': 3}

In [54]:
len(d)

3

In [55]:
'apple' in d

True

In [56]:
3 in d

False

In [57]:
'rice' not in d

True

In [58]:
3 in d.values()

True

In [59]:
d['carrots'] = 4

In [60]:
d

{'apple': 1, 'orange': 2, 'grape': 3, 'carrots': 4}

In [61]:
d['apple'] = 5
d

{'apple': 5, 'orange': 2, 'grape': 3, 'carrots': 4}

In [62]:
d['apple']+1

6

In [63]:
d['apple']

5

In [64]:
d['apple'] += 1

In [65]:
d

{'apple': 6, 'orange': 2, 'grape': 3, 'carrots': 4}

In [68]:
if 'rice' not in d:
    d['rice'] = 0
d['rice'] += 1
d

{'apple': 6, 'orange': 2, 'grape': 3, 'carrots': 4, 'rice': 1}

In [69]:
#Q5-a
mydic = {0:'zero', 1:'one', 2:'two'}

In [70]:
mydic

{0: 'zero', 1: 'one', 2: 'two'}

In [71]:
#Q5-b
len(mydic)

3

In [72]:
#Q5-c
'two' in mydic

False

In [73]:
'two' in mydic.values()

True

In [78]:
#Q6
def histogram(items=[]):
    dic = {}
    for i in items: 
        if i not in dic: 
            # if the number is not in the keys of dic, we give it a inital count=0. else, add 1
            dic[i] = 0
        dic[i] += 1
    return dic

In [79]:
histogram([3,2,1,2,2,2])

{3: 1, 2: 4, 1: 1}