##### Note:
In the analyze function, I used Regex to delete all the punctuations instead of string.punctuation
Because in this way, I can delete the punctuation even within a word. 
For example, in some .txt customer review files, there are 'good.I' or 'trays.An', if I use string.punctuation on the splitted word, those two examples will still like that. So I decided to use Regex to replace all the punctuation in the sentance and then split the sentance. And I believe I got a more accurate result than the original solution. Please check the following output. 
Thanks. 
Carrie Zhang.

In [2]:
from reviews import analyze
stopwordFile = 'stopwords.txt'

In [3]:
analyze('sophie_the_girrafe.txt', stopwordFile, 10)

          Occurences  Reviews
sophie           901      407
toy              686      403
baby             573      335
loves            395      318
teething         324      248
son              310      231
chew             277      205
teether          265      192
months           259      190
daughter         242      161

In [4]:
analyze('baby_einstein_musical_toy.txt', stopwordFile, 6)

        Occurences  Reviews
toy            626      358
music          493      321
baby           414      269
lights         274      235
loves          271      222
months         270      189

In [5]:
ls *.txt

baby_einstein_musical_toy.txt   sophie_the_girrafe.txt
fisher_price_booster_seat.txt   stopwords.txt
rainforest_jumperoo.txt         summer_infant_changing_pad.txt
reviews1.txt                    temp.txt
reviews3.txt

In [6]:
analyze('fisher_price_booster_seat.txt',stopwordFile, 6)

         Occurences  Reviews
chair           842      341
tray            610      266
seat            556      264
easy            446      291
high            394      230
booster         378      220

In [7]:
analyze('rainforest_jumperoo.txt', stopwordFile, 5)

          Occurences  Reviews
baby             359      184
months           311      185
toys             304      191
loves            280      202
jumperoo         278      169

In [8]:
analyze('summer_infant_changing_pad.txt', stopwordFile, 5)

          Occurences  Reviews
pad              589      294
changing         549      316
baby             278      192
table            202      153
great            182      152

In [9]:
help(analyze)

Help on function analyze in module reviews:

analyze(reviewFile, stopwordFile, numWords=20)
    reviewFile: the path to a .txt file containing customer reviews.
                    The format is assumed to be the same as the test data sets attached to this assignment.
    stopwordFile: the path to a .txt file containing a list of commonly occurring English
                    words to ignore (such as “a”, “the”, “and”, etc). The format is assumed to be the same as
                    the "stopwords.txt" file attached to this assignment.
    numWords (default value 20): An integer specifying the number of rows to include in the DataFrame object returned.

    The function should return a Pandas DataFrame